.Searchicons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.Searchicons a {
  text-decoration: none;
  color: white;
}

.Searchicons img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Searchicons .name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
