.Myaccount_items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}

.main_title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 2rem;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}

.main_title h1 {
  font-size: 3rem;
  margin: 0;
}

.myaccount_containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.profile_items,
.delivery_items,
.payment_items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
